<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SsTestSuite">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="Test - SS">
        <packages>
            <package name="org.wso2.carbon.ss.integration.test.cassandra.cluster.explorer"/>
            <package name="org.wso2.carbon.ss.integration.test.cassandra"/>
            <package name="org.wso2.carbon.ss.integration.test.rssmanager"/>
            <package name="org.wso2.carbon.ss.integration.test.cassandra.cluster.operations"/>
            <package name="org.wso2.carbon.ss.integration.test.cassandra.cluster.stats"/>
        </packages>
    </test>
</suite>
